# AI 配置
API_KEY=
BASE_URL=
MODEL_NAME=

# 联网搜索 Exa
EXA_API_KEY=

# 天气查询 和风天气
WEATHER_API_KEY=
WEATHER_API_HOST=https://mn63yxm3q2.re.qweatherapi.com
WEATHER_GEO_URL=https://mn63yxm3q2.re.qweatherapi.com/geo/v2/city/lookup
MODEL_CAP_IMAGE=1
